[Unit]
Description=xautolock

[Service]
ExecStart=sh ${HOME}/.config/scripts/autolock.sh
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
